{
    "server": false,
    "datacenter": "{{ consul_config.consul_datacenter }}",
    "data_dir": "{{ consul_config.consul_data_dir }}",
    "encrypt": "{{ uuidtoken_env.uuidtoken }}",
    "log_level": "INFO",
    "enable_syslog": false,
    "leave_on_terminate": true,
    "start_join": [
        "{{ consul_config.consul_join_ip }}"
    ]
}
