{
    "advertise_addr": "{{ hostvars[inventory_hostname].ansible_host }}",
    "bind_addr": "{{ hostvars[inventory_hostname].ansible_host }}",
    "bootstrap_expect": 3,
    "client_addr": "0.0.0.0",
    "datacenter": "DC1",
    "data_dir": "/var/lib/consul",
    "domain": "consul",
    "enable_script_checks": true,
    "dns_config": {
        "enable_truncate": true,
        "only_passing": true
    },
    "enable_syslog": true,
    "encrypt": "{{ hostvars[groups['consul'][0]].token }}",
    "leave_on_terminate": true,
    "log_level": "INFO",
    "rejoin_after_leave": true,
    "retry_join": 
        [
        {% for host in groups['consul'] %}
    "{{ hostvars[host]['ansible_hostname'] }}"{% if not loop.last %},{% endif %}

        {% endfor -%}
        ],
    "server": true,
    "start_join": 
        [
        {% for host in groups['consul'] %}
    "{{ hostvars[host]['ansible_hostname'] }}"{% if not loop.last %},{% endif %}

        {% endfor -%}
        ],
    "ui": true
 }
